[phases.setup]
nixPkgs = [  "php82",
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.mbstring",
  "php82Extensions.xml",
  "php82Extensions.curl",
  "php82Extensions.zip",
  "php82Extensions.tokenizer",
  "php82Extensions.fileinfo",
  "php82Extensions.openssl",
  "php82Extensions.ctype",
  "php82Extensions.session"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader"]

[phases.build]
cmds = [
    "php artisan migrate --force",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"